@using NewsFeedVn.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log In Page";
    Layout = "~/Views/Frontend/Layout/_Layout.cshtml";
}

@section AddCss{
    <link rel="stylesheet" type="text/css" href="~/avision/styles/login.css">
}

<!-- Home -->

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="../../avision/images/regular.jpg" data-speed="0.8"></div>
    <div class="home_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Post Comment -->
                    <div class="post_comment">
                        <div class="contact_form_container">
                            @* <form action="#"> *@
                            @*     <input type="text" class="contact_input contact_input_name" placeholder="Your Name" required="required"> *@
                            @*     <input type="email" class="contact_input contact_input_email" placeholder="Your Email" required="required"> *@
                            @*     <textarea class="contact_text" placeholder="Your Message" required="required"></textarea> *@
                            @*     <button type="submit" class="contact_button">Send Message</button> *@
                            @* </form> *@
                            <div class="row">
                                <div class="col-md-8">
                                    <section id="loginForm">
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <h4>Use a local account to log in.</h4>
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.RememberMe)
                                                        @Html.LabelFor(m => m.RememberMe)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Log in" class="btn btn-default" />
                                                </div>
                                            </div>
                                            <p>
                                                @Html.ActionLink("Register as a new user", "Register")
                                            </p>
                                            @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                                        }
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section id="socialLoginForm">
                                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

@section Addscripts{
    <script src="~/avision/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/avision/js/contact.js"></script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}