@model NewsFeedVn.Models.Source

@{
    ViewBag.Title = "AddNew";
    Layout = "~/Views/Backend/Layout/_Layout.cshtml";
}

<h2>AddNew</h2>

<div class="alert" id="alert-source">
    <strong id="alert-message"></strong>
</div>

@using (Html.BeginForm(new { @class = "form-source" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-bottom: 50px;">
        <h4>Source</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <h4 class="panel-title">
                            Source Selectors
                        </h4>
                    </a>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Domain, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Domain, new { htmlAttributes = new { @class = "form-control source-domain" } })
                                        @Html.ValidationMessageFor(model => model.Domain, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Path, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Path, new { htmlAttributes = new { @class = "form-control source-path" } })
                                        @Html.ValidationMessageFor(model => model.Path, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryID, "CategoryID", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control source-category" })
                                        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LinkSelector, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.LinkSelector, new { htmlAttributes = new { @class = "form-control source-link-selector" } })
                                        @Html.ValidationMessageFor(model => model.LinkSelector, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <!-- Button to Open the Modal -->
                            <div class="col-12 text-center">
                                <button type="button" class="btn btn-primary preview-url-list" data-toggle="modal">
                                    Preview
                                </button>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Preview URL Getter</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <h2>URL list</h2>
                                                <p>URL list as crawled from the source</p>
                                                <table class="table table-striped" style="table-layout: fixed; width: 100%">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>URL</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="preview-url-content">
                                                    
                                                    </tbody>
                                                </table>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <h4 class="panel-title">
                            Detail Selectors
                        </h4>
                    </a>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        ///
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TitleSelector, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TitleSelector, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TitleSelector, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DescriptionSelector, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DescriptionSelector, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DescriptionSelector, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ContentSelector, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ContentSelector, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ContentSelector, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.RemovalSelector, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.RemovalSelector, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.RemovalSelector, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <!-- Button to Open the Modal -->
                            <div class="col-12 text-center">
                                <button type="button" class="btn btn-primary preview-first-article" data-toggle="modal">
                                    Preview
                                </button>
                                <button type="button" class="btn btn-primary btn-submit" data-toggle="modal">
                                    Submit
                                </button>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="myContentModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Preview Article Content</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <h2>Article Content</h2>
                                            <p>URL list as crawled from the source</p>
                                            
                                            <div class="preview-article-body"></div>
                                            <table class="table table-striped" style="table-layout: fixed; width: 100%">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>URL</th>
                                                </tr>
                                                </thead>
                                                <tbody class="">
                                                </tbody>
                                            </table>

                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        ///
                        
                    </div>
                </div>
            </div>

        </div>

        @* <div class="form-group"> *@
        @*     <div class="col-md-offset-2 col-md-10"> *@
        @*         <input type="submit" value="Create" class="btn btn-default" /> *@
        @*     </div> *@
        @* </div> *@
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Addscripts{
    <script type="text/javascript">
        $(document).ready(function() {

            $('.preview-url-list').click(function(event) {

                event.preventDefault();

//                console.log($('.source-domain').value);
                // AJAX request
                var request = $.ajax({
                    url: 'https://dataservicesem3.azurewebsites.net/api/Service/reviewurl',
                    type: 'POST',
                    crossDomain: true,
//                    dataType: 'application/json',
                    data:
                    {
                        Domain: $('#Domain').val(),
                        Path: $('#Path').val(),
                        CategoryID: $('#CategoryID').val(),
                        LinkSelector: $('#LinkSelector').val(),
                        TitleSelector: " ",
                        ContentSelector: " ",
                        DescriptionSelector: " ",
                        RemovalSelector: " ",
                        Status: 1
                    }
                });

                request.done(function(response) {
                    console.log(response);
                    console.log(jQuery.type(response));
                    var content = "";
                    jQuery.each( response, function( i, val ) {
                        content += "<tr><td style='width:20%'>"+ i +"</td><td style='word-wrap: break-word; width:80%'><a href="+val+">"+val+"</a></td></tr>";
                    });
                    
                    // Add response in Modal body
                        $('.preview-url-content').html(content);

                        // Display Modal
                        $('#myModal').modal('show');
                });

                request.fail(function(jqXHR, textStatus) {
                    console.log( "Request failed: " + textStatus );
                });
//                $.ajax({
//                    url: 'https://dataservicesem3.azurewebsites.net/api/Service/reviewurl',
//                    type: 'POST',
//                    crossDomain: true,
//                    dataType: 'application/json',
//                    data:
//                    {
//                        Domain: "https://vnexpress.net/",
//                        Path: "kinh-doanh",
//                        CategoryID: 1,
//                        LinkSelector: "h3.title-news>a",
//                        TitleSelector: "div.sidebar-1>h1.title-detail",
//                        ContentSelector: "test",
//                        DescriptionSelector: "div.sidebar-1>p.description",
//                        RemovalSelector: "test",
//                        Status: 1
//                    },
//                    success: function (response) {
//                        Console.log(response);
//                        // Add response in Modal body
//                        $('.modal-body').html(response);
//
//                        // Display Modal
//                        $('#myModal').modal('show');
//                    }
//                });
            });

            $('.preview-first-article').click(function(event) {

                event.preventDefault();

//                console.log($('.source-domain').value);
                // AJAX request
                var request = $.ajax({
                    url: 'https://dataservicesem3.azurewebsites.net/api/Service/reviewData',
                    type: 'POST',
                    crossDomain: true,
//                    dataType: 'application/json',
                    data:
                    {
                        Domain: $('#Domain').val(),
                        Path: $('#Path').val(),
                        CategoryID: $('#CategoryID').val(),
                        LinkSelector: $('#LinkSelector').val(),
                        TitleSelector: $('#TitleSelector').val(),
                        ContentSelector: $('#ContentSelector').val(),
                        DescriptionSelector: $('#DescriptionSelector').val(),
                        RemovalSelector: $('#RemovalSelector').val(),
                        Status: 1
                    }
                });

                request.done(function(response) {
                    console.log(response);
                    console.log(jQuery.type(response));
                    var content = "";
                    jQuery.each( response, function( i, val ) {
                        content += "<tr><td style='width:20%'>"+ i +"</td><td style='word-wrap: break-word; width:80%'><a href="+val+">"+val+"</a></td></tr>";
                    });
                    
                    // Add response in Modal body
                        $('.preview-article-body').html(content);

                        // Display Modal
                        $('#myContentModal').modal('show');
                });

                request.fail(function(jqXHR, textStatus) {
                    console.log( "Request failed: " + textStatus );
                });
            });

            $('.btn-submit').click(function(event) {

                event.preventDefault();

//                console.log($('.source-domain').value);
                // AJAX request
                var request = $.ajax({
                    url: 'https://dataservicesem3.azurewebsites.net/api/SourcesService',
                    type: 'POST',
                    crossDomain: true,
//                    dataType: 'application/json',
                    data:
                    {
                        Domain: $('#Domain').val(),
                        Path: $('#Path').val(),
                        CategoryID: $('#CategoryID').val(),
                        LinkSelector: $('#LinkSelector').val(),
                        TitleSelector: $('#TitleSelector').val(),
                        ContentSelector: $('#ContentSelector').val(),
                        DescriptionSelector: $('#DescriptionSelector').val(),
                        RemovalSelector: $('#RemovalSelector').val(),
                        Status: 1
                    }
                });

                request.done(function (response) {
                    $('#alert-source').removeClass('alert-danger');
                    $('#alert-source').addClass('alert-success');

                    $('#alert-message').html("Add Source Successfully!");

                    window.location.href = "/Sources/Index";
                    // Add response in Modal body
//                    $('.preview-article-body').html(content);

                    // Display Modal
//                    $('#myContentModal').modal('show');
                });

                request.fail(function(jqXHR, textStatus) {
                    console.log("Request failed: " + textStatus);
                    $('#alert-source').removeClass('alert-success');
                    $('#alert-source').addClass('alert-danger');

                    $('#alert-message').html("Add Source Failed!");
                });
            });
        });

    </script>
}
