@model NewsFeedVn.Models.Source

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Backend/Layout/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div  style="margin-bottom: 50px;">
    <h4>Source</h4>
    <hr />
    <dl class="dl-horizontal" >
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkSelector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkSelector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleSelector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleSelector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentSelector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentSelector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemovalSelector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemovalSelector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
