@model NewsFeedVn.Models.ViewCategoryModel
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Client/Layout/_Layout.cshtml";
}

@section AddCss{
    <link rel="stylesheet" type="text/css" href="~/avision/styles/category.css">
    <link rel="stylesheet" type="text/css" href="~/avision/styles/category_responsive.css">
}

<!-- Home -->

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="../../avision/images/category.jpg" data-speed="0.8"></div>
</div>

<!-- Page Content -->

<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- Main Content -->

            <div class="col-lg-9">
                <div class="main_content">

                    <!-- Category -->

                    <div class="category">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Don't Miss</div>
                            <div class="section_tags ml-auto">
                                <ul>
                                    <li @{ if (ViewBag.CategoryId == 0) { @Html.Raw("class='active'") ; } }><a href="/Client/CategoriesIndex">all</a></li>
                                    @{
                                        if (Model.Categories.Count > 0 && Model.Categories.Count < 4)
                                        {
                                            for (int i = 0; i < Model.Categories.Count; i++)
                                            {
                                                <li @{ if (ViewBag.CategoryId == Model.Categories[i].Id) { @Html.Raw("class='active'") ; } }><a href="/Client/CategoriesIndex?id=@Model.Categories[i].Id">@Model.Categories[i].Name</a></li>
                                            }
                                        }
                                        else if (Model.Categories.Count > 4)
                                        {
                                            for (int i = 0; i < 4; i++)
                                            {
                                                <li @{ if (ViewBag.CategoryId == Model.Categories[i].Id) { @Html.Raw("class='active'") ; } }><a href="/Client/CategoriesIndex?id=@Model.Categories[i].Id">@Model.Categories[i].Name</a></li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="section_panel_more">
                                <ul>
                                    <li>
                                        more
                                        <ul>
                                            @{
                                                if (Model.Categories.Count > 4)
                                                {
                                                    for (int i = 4; i < Model.Categories.Count; i++)
                                                    {
                                                        <li @{ if (ViewBag.CategoryId == Model.Categories[i].Id) { @Html.Raw("class='active'") ; } }><a href="/Client/CategoriesIndex?id=@Model.Categories[i].Id">@Model.Categories[i].Name</a></li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section_content">
                            <div id="content-post" class="grid clearfix">
                                @{
                                    if (Model.Articles.Count > 0)
                                    {
                                        for (int i = 0; i < Model.Articles.Count; i++)
                                        {
                                            if (i % 2 == 0)
                                            {
                                                <!-- Small Card With Image 0-->
                                                <div class="card card_small_with_image grid-item">
                                                    <img class="card-img-top" src="@Model.Articles[i].Img" alt="">
                                                    <div class="card-body">
                                                        <div class="card-title card-title-small"><a href="/Client/Post?id=@Model.Articles[i].Id">@Model.Articles[i].Title</a></div>
                                                        <small class="post_meta"><a href="#">Katy Liu</a><span>@Model.Articles[i].CreatedAt</span></small>
                                                    </div>
                                                </div>
                                            }
                                            else if (i % 3 == 0 && i % 2 != 0 && i % 5 != 0)
                                            {
                                                <!-- Small Card Without Image 1-->
                                                <div class="card card_default card_small_no_image grid-item">
                                                    <div class="card-body">
                                                        <div class="card-title card-title-small"><a href="/Client/Post?id=@Model.Articles[i].Id">@Model.Articles[i].Title</a></div>
                                                        <small class="post_meta"><a href="#">Katy Liu</a><span>@Model.Articles[i].CreatedAt</span></small>
                                                    </div>
                                                </div>
                                            }
                                            else if (i % 5 == 0 && i % 2 != 0 && i % 7 != 0)
                                            {
                                                <!-- Small Card With Background 4-->
                                                <div class="card card_default card_small_with_background grid-item">
                                                    <div class="card_background" style="background-image:url(@Model.Articles[i].Img)"></div>
                                                    <div class="card-body">
                                                        <div class="card-title card-title-small"><a href="/Client/Post?id=@Model.Articles[i].Id">@Model.Articles[i].Title</a></div>
                                                        <small class="post_meta"><a href="#">Katy Liu</a><span>@Model.Articles[i].CreatedAt</span></small>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <!-- Default Card With Background 9-->
                                                <div class="card card_default card_default_with_background grid-item">
                                                    <div class="card_background" style="background-image:url(@Model.Articles[i].Img)"></div>
                                                    <div class="card-body">
                                                        <div class="card-title card-title-small"><a href="/Client/Post?id=@Model.Articles[i].Id">@Model.Articles[i].Title</a></div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }

                            </div>
                        </div>
                    </div>

                </div>
                <div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200">Load More</div>
                </div>
            </div>

            <!-- Sidebar -->

            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background"></div>

                    <!-- Top Stories -->

                    <div class="sidebar_section">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Top Stories</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />







                                        </svg>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_top">
                                        <li class="custom_dot custom_dot_top active"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />







                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Top Stories Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_top">

                                    @{
                                        if (Model.SameArticles.Count >= 12)
                                        {
                                            for (int i = 0; i < Model.SameArticles.Count / 4; i++)
                                            {
                                                <!-- Top Stories Slider Item -->
                                                <div class="owl-item">
                                                    @{
                                                        for (int j = i * 4; j < (i * 4) + 4; j++)
                                                        {
                                                            <!-- Sidebar Post -->
                                                            <div class="side_post" style="padding-top: 5px">
                                                                <a href="/Client/Post?id=@Model.SameArticles[j].Id">
                                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                                        <div class="side_post_image"><div><img src="@Model.SameArticles[j].Img" height="100%" alt=""></div></div>
                                                                        <div class="side_post_content">
                                                                            <div class="side_post_title">@Model.SameArticles[j].Title</div>
                                                                            <small class="post_meta"><span>@Model.SameArticles[j].CreatedAt</span></small>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            }
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Advertising -->

                    <div class="sidebar_section">
                        <div class="advertising">
                            <div class="advertising_background" style="background-image:url(../../avision/images/post_17.jpg)"></div>
                            <div class="advertising_content d-flex flex-column align-items-start justify-content-end">
                                <div class="advertising_perc">-15%</div>
                                <div class="advertising_link"><a href="#">How Did van Gogh’s Turbulent Mind</a></div>
                            </div>
                        </div>
                    </div>

                    @{
                        if (Model.LastestArticle.Count > 0)
                        {
                            <!-- Lastest Article -->

                            <div class="sidebar_section" style="margin-top: 30px">
                                <div class="sidebar_title_container">
                                    <div class="sidebar_title">Lastest Article</div>
                                    <div class="sidebar_slider_nav">
                                        <div class="custom_nav_container sidebar_slider_nav_container">
                                            <div class="custom_prev custom_prev_top">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                                <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />

                                                </svg>
                                            </div>
                                            <ul id="custom_dots" class="custom_dots custom_dots_top">
                                                <li class="custom_dot custom_dot_top active"><span></span></li>
                                                <li class="custom_dot custom_dot_top"><span></span></li>
                                                <li class="custom_dot custom_dot_top"><span></span></li>
                                            </ul>
                                            <div class="custom_next custom_next_top">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                                <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />

                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar_section_content">

                                    <!-- Top Stories Slider -->
                                    <div class="sidebar_slider_container">
                                        <div class="owl-carousel owl-theme sidebar_slider_top">

                                            @{
                                                if (Model.LastestArticle.Count > 0 && Model.LastestArticle.Count > 4)
                                                {
                                                    for (int i = 0; i < Math.Ceiling((double)Model.LastestArticle.Count / 4); i++)
                                                    {
                                                        <!-- Top Stories Slider Item -->
                                                        <div class="owl-item">
                                                            @{
                                                                for (int j = i * 4; j < ((i * 4) + 4) && (Model.LastestArticle.Count > j); j++)
                                                                {
                                                                    <!-- Sidebar Post -->
                                                                    <div class="side_post" style="padding-top: 5px">
                                                                        <a href="/Client/Post?id=@Model.LastestArticle[j].Id">
                                                                            <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                                                <div class="side_post_image"><div><img src="@Model.LastestArticle[j].Img" height="100%" alt=""></div></div>
                                                                                <div class="side_post_content">
                                                                                    <div class="side_post_title">@Model.LastestArticle[j].Title</div>
                                                                                    <small class="post_meta"><span>@Model.LastestArticle[j].CreatedAt</span></small>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    }
                                                }
                                                else if (Model.LastestArticle.Count > 0 && Model.LastestArticle.Count <= 4)
                                                {
                                                    <!-- Top Stories Slider Item -->
                                                    <div class="owl-item">
                                                        @{
                                                            for (int i = 0; i < Model.LastestArticle.Count; i++)
                                                            {
                                                                <!-- Sidebar Post -->
                                                                <div class="side_post" style="padding-top: 5px">
                                                                    <a href="/Client/Post?id=@Model.LastestArticle[i].Id">
                                                                        <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                                            <div class="side_post_image"><div><img src="@Model.LastestArticle[i].Img" height="100%" alt=""></div></div>
                                                                            <div class="side_post_content">
                                                                                <div class="side_post_title">@Model.LastestArticle[i].Title</div>
                                                                                <small class="post_meta"><span>@Model.LastestArticle[i].CreatedAt</span></small>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <!-- Advertising 2 -->

                    <div class="sidebar_section">
                        <div class="advertising_2">
                            <div class="advertising_background" style="background-image:url(../../avision/images/post_18.jpg)"></div>
                            <div class="advertising_2_content d-flex flex-column align-items-center justify-content-center">
                                <div class="advertising_2_link"><a href="#">Turbulent <span>Mind</span></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

@section Addscripts{
    <script src="~/avision/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/avision/js/category.js"></script>
}

@section scripts{
    <script>



        $(document).ready(function () {
            initGrid()
            var index = 2;
            $("#load_more").click(function (e) {
                $.ajax({
                    url: "/Client/AjaxCategoriesIndex?id="+@ViewBag.CategoryId+"&index=" + index,
                    method: 'GET'
                }).done(function (response) {
                    var html = "";
                    var list = JSON.parse(response)
                    for (var i = 0; i < list.length; i++) {
                        if (i % 2 == 0) {
                            html += '<!-- Small Card With Image 0-->';
                            html += '<div class="card card_small_with_image grid-item">';
                            html += '<img class="card-img-top" src="' + list[i].Img + '" alt="">';
                            html += '<div class="card-body">';
                            html += '<div class="card-title card-title-small"><a href="/Client/Post?id=' + list[i].Id + '">' + list[i].Title + '</a></div>';
                            html += '<small class="post_meta"><a href="#">Katy Liu</a><span>' + list[i].CreatedAt + '</span></small>';
                            html += '</div>';
                            html += '</div>';
                        } else if (i % 3 == 0 && i % 2 != 0 && i % 5 != 0) {
                            html += '<!-- Small Card Without Image 1-->';
                            html += '<div class="card card_default card_small_no_image grid-item">';
                            html += '<div class="card-body">';
                            html += '<div class="card-title card-title-small"><a href="/Client/Post?id=' + list[i].Id + '">' + list[i].Title + '</a></div>';
                            html += '<small class="post_meta"><a href="#">Katy Liu</a><span>' + list[i].CreatedAt + '</span></small>';
                            html += '</div>';
                            html += '</div>';
                        } else if (i % 5 == 0 && i % 2 != 0 && i % 7 != 0) {
                            html += '<!-- Small Card With Background 4-->';
                            html += '<div class="card card_default card_small_with_background grid-item">';
                            html += '<div class="card_background" style="background-image:url(' + list[i].Img + ')"></div>';
                            html += '<div class="card-body">';
                            html += '<div class="card-title card-title-small"><a href="/Client/Post?id=' + list[i].Id + '">' + list[i].Title + '</a></div>';
                            html += '<small class="post_meta"><a href="#">Katy Liu</a><span>' + list[i].CreatedAt + '</span></small>';
                            html += '</div>';
                            html += '</div>';
                        } else {
                            html += '<!-- Default Card With Background 9-->';
                            html += '<div class="card card_default card_default_with_background grid-item">';
                            html += '<div class="card_background" style="background-image:url(' + list[i].Img + ')"></div>';
                            html += '<div class="card-body">';
                            html += '<div class="card-title card-title-small"><a href="/Client/Post?id=' + list[i].Id + '">' + list[i].Title + '</a></div>';
                            html += '</div>';
                            html += '</div>';
                        }
                    }
                    //$(".grid").html(html);
                    if (html !== "") {
                        console.log(html)
                        var $content = $( html );
                        jQuery("#content-post").append($content).masonry('appended', $content);
                    }
                    index++;
                });
            });

            function initGrid() {
                setTimeout(function () {
                    $('.grid').masonry(
                        {
                            itemSelector: '.grid-item',
                            columnWidth: '.card_default',
                            gutter: 30
                        });
                }, 1000);
            }
        });
    </script>
}