@model NewsFeedVn.Models.ViewHomeModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Client/Layout/_Layout.cshtml";
}

@section AddCss{
    <link rel="stylesheet" type="text/css" href="~/avision/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/avision/styles/responsive.css">
}

<!-- Home -->

<div class="home">

    <!-- Home Slider -->

    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">

            @{
                if (Model.SlideArticle.Count >= 3)
                {
                    for (int i = 0; i < Model.SlideArticle.Count; i++)
                    {
                        <!-- Slider Item -->
            <div class="owl-item">

                @if (i == 0)
                {
                    <div class="home_slider_background" style="background-image:url('../../avision/images/pexels-photo-3095621.jpeg')"></div>
                }
                @if (i == 1)
                {
                    <div class="home_slider_background" style="background-image:url('../../avision/images/pexels-photo-4057663.jpeg')"></div>
                }
                @if (i == 2)
                {
                    <div class="home_slider_background" style="background-image:url('../../avision/images/pexels-photo.jpg')"></div>
                }

                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content">
                                    <div class="home_slider_item_category trans_200"><a href="/Client/CategoriesIndex?id=@Model.SlideArticle[i].CategoryID" class="trans_200">@Model.SlideArticle[i].Category.Name</a></div>
                                    <div class="home_slider_item_title">
                                        <a href="/Client/Post?id=@Model.SlideArticle[i].Id">@Model.SlideArticle[i].Title</a>
                                    </div>
                                    <div class="home_slider_item_link">
                                        <a href="/Client/Post?id=@Model.SlideArticle[i].Id" class="trans_200">
                                            Continue Reading
                                            <svg version="1.1" id="link_arrow_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="19px" height="13px" viewBox="0 0 19 13" enable-background="new 0 0 19 13" xml:space="preserve">
                                            <polygon fill="#FFFFFF" points="12.475,0 11.061,0 17.081,6.021 0,6.021 0,7.021 17.038,7.021 11.06,13 12.474,13 18.974,6.5 " />































                                                    </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Similar Posts -->
                <div class="similar_posts_container">
                    <div class="container">
                        <div class="row d-flex flex-row align-items-end">
                            @{
                                if (Model.SimilarPostSlide.Count >= 9)
                                {
                                    for (int j = i * 3; j < (i * 3) + 3; j++)
                                    {
                                        <!-- Similar Post -->
                                        <div class="col-lg-3 col-md-6 similar_post_col">
                                            <div class="similar_post trans_200">
                                                <a href="/Client/Post?id=@Model.SimilarPostSlide[j].Id">@Model.SimilarPostSlide[j].Title</a>
                                            </div>
                                        </div>
                                    }
                                }
                            }

                        </div>
                    </div>

                    <div class="home_slider_next_container">
                        <div class="home_slider_next" style="background-image:url(@Model.SlideArticle[i].Img)">
                            <div class="home_slider_next_background trans_400"></div>
                            <div class="home_slider_next_content trans_400">
                                <div class="home_slider_next_title">next</div>
                                <div class="home_slider_next_link">@Model.SlideArticle[i].Title</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
                    }
                }
            }

        </div>

        <div class="custom_nav_container home_slider_nav_container">
            <div class="custom_prev custom_prev_home_slider">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                <polyline fill="#FFFFFF" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />
                </svg>
            </div>
            <ul id="custom_dots" class="custom_dots custom_dots_home_slider">
                <li class="custom_dot custom_dot_home_slider active"><span></span></li>
                <li class="custom_dot custom_dot_home_slider"><span></span></li>
                <li class="custom_dot custom_dot_home_slider"><span></span></li>
            </ul>
            <div class="custom_next custom_next_home_slider">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                <polyline fill="#FFFFFF" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />
                </svg>
            </div>
        </div>

    </div>
</div>

<!-- Page Content -->

<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- Main Content -->

            <div class="col-lg-9">
                <div class="main_content">

                    <!-- Blog Section - Don't Miss -->

                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Don't Miss</div>
                            <div class="section_tags ml-auto">
                                <ul>
                                    <li class="active"><a href="/Client/CategoriesIndex">all</a></li>

                                    @{
                                        if (Model.Categories.Count < 4)
                                        {
                                            for (int i = 0; i < Model.Categories.Count; i++)
                                            {
                                                <li><a href="/Client/CategoriesIndex?id=@Model.Categories[i].Id">@Model.Categories[i].Name</a></li>
                                            }
                                        }
                                        else
                                        {
                                            for (int i = 0; i < 4; i++)
                                            {
                                                <li><a href="/Client/CategoriesIndex?id=@Model.Categories[i].Id">@Model.Categories[i].Name</a></li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="section_panel_more">
                                <ul>
                                    <li>
                                        more
                                        <ul>
                                            @{
                                                if (Model.Categories.Count > 4)
                                                {
                                                    for (int i = 4; i < Model.Categories.Count; i++)
                                                    {
                                                        <li><a href="/Client/CategoriesIndex?id=@Model.Categories[i].Id">@Model.Categories[i].Name</a></li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section_content">
                            <div class="grid clearfix">
                                @{
                                    int[] arr1 = new int[] { 0 };
                                    int[] arr2 = new int[] { 1 };
                                    int[] arr3 = new int[] { 2 };
                                    int[] arr4 = new int[] { 3, 4 };
                                    int[] arr5 = new int[] { 5, 6, 7 };
                                    if (Model.DontMiss.Count >= 8)
                                    {
                                        for (int i = 0; i < Model.DontMiss.Count; i++)
                                        {
                                            if (Array.IndexOf(arr1, i) > -1)
                                            {
                                                <!-- Largest Card With Image -->
                                                <div class="card card_largest_with_image grid-item">
                                                    <img class="card-img-top" src="@Model.DontMiss[i].Img" alt="https://unsplash.com/cjtagupa">
                                                    <div class="card-body">
                                                        <div class="card-title"><a href="/Client/Post?id=@Model.DontMiss[i].Id">@Model.DontMiss[i].Title</a></div>
                                                        <p class="card-text">@Model.DontMiss[i].Description</p>
                                                        <small class="post_meta"><a href="#">Katy Liu</a><span>@Model.DontMiss[i].CreatedAt</span></small>
                                                    </div>
                                                </div>
                                            }
                                            else if (Array.IndexOf(arr2, i) > -1)
                                            {
                                                <!-- Small Card Without Image -->
                                                <div class="card card_default card_small_no_image grid-item">
                                                    <div class="card-body">
                                                        <div class="card-title card-title-small"><a href="/Client/Post?id=@Model.DontMiss[i].Id">@Model.DontMiss[i].Title</a></div>
                                                        <small class="post_meta"><a href="#">Katy Liu</a><span>@Model.DontMiss[i].CreatedAt</span></small>
                                                    </div>
                                                </div>
                                            }
                                            else if (Array.IndexOf(arr3, i) > -1)
                                            {
                                                <!-- Small Card With Background -->
                                                <div class="card card_default card_small_with_background grid-item">
                                                    <div class="card_background" style="background-image:url(@Model.DontMiss[i].Img)"></div>
                                                    <div class="card-body">
                                                        <div class="card-title card-title-small"><a href="/Client/Post?id=@Model.DontMiss[i].Id">@Model.DontMiss[i].Title</a></div>
                                                        <small class="post_meta"><a href="#">Katy Liu</a><span>@Model.DontMiss[i].CreatedAt</span></small>
                                                    </div>
                                                </div>
                                            }
                                            else if (Array.IndexOf(arr4, i) > -1)
                                            {
                                                <!-- Small Card With Image -->
                                                <div class="card card_small_with_image grid-item">
                                                    <img class="card-img-top" src="@Model.DontMiss[i].Img" alt="https://unsplash.com/jakobowens1">
                                                    <div class="card-body">
                                                        <div class="card-title card-title-small"><a href="/Client/Post?id=@Model.DontMiss[i].Id">@Model.DontMiss[i].Title</a></div>
                                                        <small class="post_meta"><a href="#">Katy Liu</a><span>@Model.DontMiss[i].CreatedAt</span></small>
                                                    </div>
                                                </div>
                                            }
                                            else if (Array.IndexOf(arr5, i) > -1)
                                            {
                                                <!-- Default Card No Image -->

                                                <div class="card card_default card_default_no_image grid-item">
                                                    <div class="card-body">
                                                        <div class="card-title card-title-small"><a href="/Client/Post?id=@Model.DontMiss[i].Id">@Model.DontMiss[i].Title</a></div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }

                            </div>
                        </div>
                    </div>

                    <!-- Blog Section - What's Trending -->

                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">What's Trending</div>
                            <div class="section_tags ml-auto">
                                <ul>
                                    <li class="active"><a href="/Client/CategoriesIndex">all</a></li>

                                    @{
                                        if (Model.Categories.Count < 4)
                                        {
                                            for (int i = 0; i < Model.Categories.Count; i++)
                                            {
                                                <li><a href="/Client/CategoriesIndex?id=@Model.Categories[i].Id">@Model.Categories[i].Name</a></li>
                                            }
                                        }
                                        else
                                        {
                                            for (int i = 0; i < 4; i++)
                                            {
                                                <li><a href="/Client/CategoriesIndex?id=@Model.Categories[i].Id">@Model.Categories[i].Name</a></li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="section_panel_more">
                                <ul>
                                    <li>
                                        more
                                        <ul>
                                            @{
                                                if (Model.Categories.Count > 4)
                                                {
                                                    for (int i = 4; i < Model.Categories.Count; i++)
                                                    {
                                                        <li><a href="/Client/CategoriesIndex?id=@Model.Categories[i].Id">@Model.Categories[i].Name</a></li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section_content">
                            <div class="grid clearfix">
                                @{
                                    int[] arr6 = new int[] { 0 };
                                    int[] arr7 = new int[] { 1 };
                                    int[] arr8 = new int[] { 2 };
                                    int[] arr9 = new int[] { 3, 6 };
                                    int[] arr10 = new int[] { 4, 5 };

                                    if (Model.WhatsTrending.Count >= 7)
                                    {
                                        for (int i = 0; i < Model.WhatsTrending.Count; i++)
                                        {
                                            if (Array.IndexOf(arr6, i) > -1)
                                            {
                                                <!-- Large Card With Background -->
                                                <div class="card card_large_with_background grid-item">
                                                    <div class="card_background" style="background-image:url(@Model.WhatsTrending[i].Img)"></div>
                                                    <div class="card-body">
                                                        <div class="card-title"><a href="/Client/Post?id=@Model.WhatsTrending[i].Id">@Model.WhatsTrending[i].Title</a></div>
                                                        <small class="post_meta"><a href="#">Katy Liu</a><span>@Model.WhatsTrending[i].CreatedAt</span></small>
                                                    </div>
                                                </div>
                                            }
                                            else if (Array.IndexOf(arr7, i) > -1)
                                            {
                                                <!-- Large Card With Image -->
                                                <div class="card grid-item card_large_with_image">
                                                    <img class="card-img-top" src="@Model.WhatsTrending[i].Img" alt="">
                                                    <div class="card-body">
                                                        <div class="card-title"><a href="/Client/Post?id=@Model.WhatsTrending[i].Id">@Model.WhatsTrending[i].Title</a></div>
                                                        <p class="card-text">@Model.WhatsTrending[i].Description</p>
                                                        <small class="post_meta"><a href="#">Katy Liu</a><span>@Model.WhatsTrending[i].CreatedAt</span></small>
                                                    </div>
                                                </div>
                                            }
                                            else if (Array.IndexOf(arr8, i) > -1)
                                            {
                                                <!-- Default Card With Image -->
                                                <div class="card card_small_with_image grid-item">
                                                    <img class="card-img-top" src="@Model.WhatsTrending[i].Img" alt="">
                                                    <div class="card-body">
                                                        <div class="card-title card-title-small"><a href="/Client/Post?id=@Model.WhatsTrending[i].Id">@Model.WhatsTrending[i].Title</a></div>
                                                        <small class="post_meta"><a href="#">Katy Liu</a><span>@Model.WhatsTrending[i].CreatedAt</span></small>
                                                    </div>
                                                </div>
                                            }
                                            else if (Array.IndexOf(arr9, i) > -1)
                                            {
                                                <!-- Default Card With Background -->

                                                <div class="card card_default card_default_with_background grid-item">
                                                    <div class="card_background" style="background-image:url(@Model.WhatsTrending[i].Img)"></div>
                                                    <div class="card-body">
                                                        <div class="card-title card-title-small"><a href="/Client/Post?id=@Model.WhatsTrending[i].Id">@Model.WhatsTrending[i].Title</a></div>
                                                    </div>
                                                </div>
                                            }
                                            else if (Array.IndexOf(arr10, i) > -1)
                                            {
                                                <!-- Default Card No Image -->
                                                <div class="card card_default card_default_no_image grid-item">
                                                    <div class="card-body">
                                                        <div class="card-title card-title-small"><a href="/Client/Post?id=@Model.WhatsTrending[i].Id">@Model.WhatsTrending[i].Title</a></div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }

                            </div>

                        </div>
                    </div>

                </div>
                @* <div class="load_more"> *@
                @*     <div id="load_more" class="load_more_button text-center trans_200">Load More</div> *@
                @* </div> *@
            </div>

            <!-- Sidebar -->

            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background"></div>

                    <!-- Top Stories -->

                    <div class="sidebar_section">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Top Stories</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />

                                        </svg>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_top">
                                        <li class="custom_dot custom_dot_top active"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />

                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Top Stories Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_top">

                                    @{
                                        if (Model.TopStories.Count >= 12)
                                        {
                                            for (int i = 0; i < Model.TopStories.Count / 4; i++)
                                            {
                                                <!-- Top Stories Slider Item -->
                                                <div class="owl-item">
                                                    @{
                                                        for (int j = i * 4; j < (i * 4) + 4; j++)
                                                        {
                                                            <!-- Sidebar Post -->
                                                            <div class="side_post" style="padding-top: 5px">
                                                                <a href="/Client/Post?id=@Model.TopStories[j].Id">
                                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                                        <div class="side_post_image"><div><img src="@Model.TopStories[j].Img" height="100%" alt=""></div></div>
                                                                        <div class="side_post_content">
                                                                            <div class="side_post_title">@Model.TopStories[j].Title</div>
                                                                            <small class="post_meta"><span>@Model.TopStories[j].CreatedAt</span></small>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            }
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Advertising -->

                    <div class="sidebar_section">
                        <div class="advertising">
                            <div class="advertising_background" style="background-image:url(../../avision/images/post_17.jpg)"></div>
                            <div class="advertising_content d-flex flex-column align-items-start justify-content-end">
                                <div class="advertising_perc">-15%</div>
                                <div class="advertising_link"><a href="#">Advertising Here</a></div>
                            </div>
                        </div>
                    </div>

                    @{
                        if (Model.LastestArticle.Count > 0)
                        {
                            <!-- Lastest Article -->

                            <div class="sidebar_section" style="margin-top: 30px">
                                <div class="sidebar_title_container">
                                    <div class="sidebar_title">Lastest Article</div>
                                    <div class="sidebar_slider_nav">
                                        <div class="custom_nav_container sidebar_slider_nav_container">
                                            <div class="custom_prev custom_prev_top">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                                <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />
                                                </svg>
                                            </div>
                                            <ul id="custom_dots" class="custom_dots custom_dots_top">
                                                <li class="custom_dot custom_dot_top active"><span></span></li>
                                                <li class="custom_dot custom_dot_top"><span></span></li>
                                                <li class="custom_dot custom_dot_top"><span></span></li>
                                            </ul>
                                            <div class="custom_next custom_next_top">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                                <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar_section_content">

                                    <!-- Top Stories Slider -->
                                    <div class="sidebar_slider_container">
                                        <div class="owl-carousel owl-theme sidebar_slider_top">

                                            @{
                                                if (Model.LastestArticle.Count > 0 && Model.LastestArticle.Count > 4)
                                                {
                                                    for (int i = 0; i < Math.Ceiling((double)Model.LastestArticle.Count / 4); i++)
                                                    {
                                                        <!-- Top Stories Slider Item -->
                                                        <div class="owl-item">
                                                            @{
                                                                for (int j = i * 4; j < ((i * 4) + 4) && (Model.LastestArticle.Count > j); j++)
                                                                {
                                                                    <!-- Sidebar Post -->
                                                                    <div class="side_post" style="padding-top: 5px">
                                                                        <a href="/Client/Post?id=@Model.LastestArticle[j].Id">
                                                                            <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                                                <div class="side_post_image"><div><img src="@Model.LastestArticle[j].Img" alt=""></div></div>
                                                                                <div class="side_post_content">
                                                                                    <div class="side_post_title">@Model.LastestArticle[j].Title</div>
                                                                                    <small class="post_meta"><span>@Model.LastestArticle[j].CreatedAt</span></small>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    }
                                                }
                                                else if (Model.LastestArticle.Count > 0 && Model.LastestArticle.Count <= 4)
                                                {
                                                    <!-- Top Stories Slider Item -->
                                                    <div class="owl-item">
                                                        @{
                                                            for (int i = 0; i < Model.LastestArticle.Count; i++)
                                                            {
                                                                <!-- Sidebar Post -->
                                                                <div class="side_post" style="padding-top: 5px">
                                                                    <a href="/Client/Post?id=@Model.LastestArticle[i].Id">
                                                                        <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                                            <div class="side_post_image"><div><img src="@Model.LastestArticle[i].Img" height="100%" alt=""></div></div>
                                                                            <div class="side_post_content">
                                                                                <div class="side_post_title">@Model.LastestArticle[i].Title</div>
                                                                                <small class="post_meta"><span>@Model.LastestArticle[i].CreatedAt</span></small>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <!-- Advertising 2 -->

                    <div class="sidebar_section">
                        <div class="advertising_2">
                            <div class="advertising_background" style="background-image:url(../../avision/images/post_18.jpg)"></div>
                            <div class="advertising_2_content d-flex flex-column align-items-center justify-content-center">
                                <div class="advertising_2_link"><a href="#">Advertising <span>Here</span></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

@section Addscripts{
    <script src="~/avision/plugins/masonry/images_loaded.js"></script>
    <script src="~/avision/js/custom.js"></script>
}

