@model NewsFeedVn.Models.ViewPostModel
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Client/Layout/_Layout.cshtml";
}

@section AddCss{
    <link rel="stylesheet" type="text/css" href="~/avision/styles/post.css">
    <link rel="stylesheet" type="text/css" href="~/avision/styles/post_responsive.css">
}

<!-- Home -->

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="../../avision/images/post.jpg" data-speed="0.8"></div>
    <div class="home_content">
        <div class="post_category trans_200"><a href="/Client/CategoriesIndex?id=@Model.Article.CategoryID" class="trans_200">@Model.Article.Category.Name</a></div>
        <div class="post_title">@Model.Article.Title</div>
    </div>
</div>

<!-- Page Content -->

<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- Post Content -->

            <div class="col-lg-9" style="z-index: 1;">
                <div class="post_content">

                    <!-- Top Panel -->
                    <div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
                        <div class="author_image"><div><img src="~/avision/images/author.jpg" alt=""></div></div>
                        <div class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></div>
                        <div class="post_share ml-sm-auto">
                            <span>share</span>
                            <ul class="post_share_list">
                                <li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Post Body -->

                    <div id="content_post" class="post_body">
                        @Html.Raw(@Model.Article.Content)
                    </div>

                    <!-- Bottom Panel -->
                    <div class="post_panel bottom_panel d-flex flex-row align-items-center justify-content-start">
                        <div class="author_image"><div><img src="~/avision/images/author.jpg" alt=""></div></div>
                        <div class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></div>
                        <div class="post_share ml-sm-auto">
                            <span>share</span>
                            <ul class="post_share_list">
                                <li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Similar Posts -->
                    <div class="similar_posts">
                        <div class="grid clearfix">
                            @{
                                for (int i = 0; i < 3; i++)
                                {
                                    <!-- Small Card With Image -->
                                    <div class="card card_small_with_image grid-item">
                                        <img class="card-img-top" src="~/avision/images/post_25.jpg" alt="https://unsplash.com/jakobowens1">
                                        <div class="card-body">
                                            <div class="card-title card-title-small" style="height: 86.4px"><a href="~/avision/post.html">@Model.ListArticle[i].Title</a></div>
                                            <small class="post_meta"><a href="#"></a><span>@Model.ListArticle[i].CreatedAt</span></small>
                                        </div>
                                    </div>
                                }
                            }

                        </div>

                        <!-- Post Comment -->
                        <div class="post_comment">
                            <div class="post_comment_title">Post Comment</div>
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="post_comment_form_container">
                                        <form action="#">
                                            <input type="text" class="comment_input comment_input_name" placeholder="Your Name" required="required">
                                            <input type="email" class="comment_input comment_input_email" placeholder="Your Email" required="required">
                                            <textarea class="comment_text" placeholder="Your Comment" required="required"></textarea>
                                            <button type="submit" class="comment_button">Post Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Comments -->
                        <div class="comments">
                            <div class="comments_title">Comments <span>(@Model.Comments.Count)</span></div>
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="comments_container">
                                        <ul class="comment_list">
                                            @{
                                                foreach (var item in Model.Comments)
                                                {
                                                    <li class="comment">
                                                        <div class="comment_body">
                                                            <div class="comment_panel d-flex flex-row align-items-center justify-content-start">
                                                                <div class="comment_author_image"><div><img src="~/avision/images/comment_author_1.jpg" alt=""></div></div>
                                                                <small class="post_meta"><a href="#">@item.Username</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                                                <button type="button" class="reply_button ml-auto">Reply</button>
                                                            </div>
                                                            <div class="comment_content">
                                                                <p>@item.Content</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200">Load More</div>
                </div>
            </div>

            <!-- Sidebar -->

            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background"></div>

                    <!-- Top Stories -->

                    <div class="sidebar_section future_events">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Top Stories</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_events">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />



                                        </svg>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_events">
                                        <li class="custom_dot custom_dot_events active"><span></span></li>
                                        <li class="custom_dot custom_dot_events"><span></span></li>
                                        <li class="custom_dot custom_dot_events"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_events">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />



                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Sidebar Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_events">

                                    @{
                                        if (Model.ListArticle.Count >= 12)
                                        {
                                            for (int i = 0; i < Model.ListArticle.Count / 4; i++)
                                            {
                                                <!-- Top Stories Slider Item -->
                                                <div class="owl-item">
                                                    @{
                                                        for (int j = i * 4; j < (i * 4) + 4; j++)
                                                        {
                                                            <!-- Sidebar Post -->
                                                            <div class="side_post" style="padding-top: 5px">
                                                                <a href="/Client/Post?id=@Model.ListArticle[j].Id">
                                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                                        <div class="side_post_image"><div><img src="@Model.ListArticle[j].Img" height="100%" alt=""></div></div>
                                                                        <div class="side_post_content">
                                                                            <div class="side_post_title">@Model.ListArticle[j].Title</div>
                                                                            <small class="post_meta"><span>@Model.ListArticle[j].CreatedAt</span></small>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            }
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Advertising -->

                    <div class="sidebar_section">
                        <div class="advertising">
                            <div class="advertising_background" style="background-image:url(../../avision/images/post_17.jpg)"></div>
                            <div class="advertising_content d-flex flex-column align-items-start justify-content-end">
                                <div class="advertising_perc">-15%</div>
                                <div class="advertising_link"><a href="#">How Did van Gogh’s Turbulent Mind</a></div>
                            </div>
                        </div>
                    </div>

                    @{
                        if (Model.LastestArticle.Count > 0)
                        {
                            <!-- Lastest Article -->

                            <div class="sidebar_section" style="margin-top: 30px">
                                <div class="sidebar_title_container">
                                    <div class="sidebar_title">Lastest Article</div>
                                    <div class="sidebar_slider_nav">
                                        <div class="custom_nav_container sidebar_slider_nav_container">
                                            <div class="custom_prev custom_prev_top">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                                <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />
                                                </svg>
                                            </div>
                                            <ul id="custom_dots" class="custom_dots custom_dots_top">
                                                <li class="custom_dot custom_dot_top active"><span></span></li>
                                                <li class="custom_dot custom_dot_top"><span></span></li>
                                                <li class="custom_dot custom_dot_top"><span></span></li>
                                            </ul>
                                            <div class="custom_next custom_next_top">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                                <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar_section_content">

                                    <!-- Top Stories Slider -->
                                    <div class="sidebar_slider_container">
                                        <div class="owl-carousel owl-theme sidebar_slider_top">

                                            @{
                                                if (Model.LastestArticle.Count > 0 && Model.LastestArticle.Count > 4)
                                                {
                                                    for (int i = 0; i < Math.Ceiling((double)Model.LastestArticle.Count / 4); i++)
                                                    {
                                                        <!-- Top Stories Slider Item -->
                                                        <div class="owl-item">
                                                            @{
                                                                for (int j = i * 4; j < ((i * 4) + 4) && (Model.LastestArticle.Count > j); j++)
                                                                {
                                                                    <!-- Sidebar Post -->
                                                                    <div class="side_post" style="padding-top: 5px">
                                                                        <a href="/Client/Post?id=@Model.LastestArticle[j].Id">
                                                                            <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                                                <div class="side_post_image"><div><img src="@Model.LastestArticle[j].Img" height="100%" alt=""></div></div>
                                                                                <div class="side_post_content">
                                                                                    <div class="side_post_title">@Model.LastestArticle[j].Title</div>
                                                                                    <small class="post_meta"><span>@Model.LastestArticle[j].CreatedAt</span></small>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    }
                                                }
                                                else if (Model.LastestArticle.Count > 0 && Model.LastestArticle.Count <= 4)
                                                {
                                                    <!-- Top Stories Slider Item -->
                                                    <div class="owl-item">
                                                        @{
                                                            for (int i = 0; i < Model.LastestArticle.Count; i++)
                                                            {
                                                                <!-- Sidebar Post -->
                                                                <div class="side_post" style="padding-top: 5px">
                                                                    <a href="/Client/Post?id=@Model.LastestArticle[i].Id">
                                                                        <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                                            <div class="side_post_image"><div><img src="@Model.LastestArticle[i].Img" height="100%" alt=""></div></div>
                                                                            <div class="side_post_content">
                                                                                <div class="side_post_title">@Model.LastestArticle[i].Title</div>
                                                                                <small class="post_meta"><span>@Model.LastestArticle[i].CreatedAt</span></small>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <!-- Advertising 2 -->

                    <div class="sidebar_section">
                        <div class="advertising_2">
                            <div class="advertising_background" style="background-image:url(../../avision/images/post_18.jpg)"></div>
                            <div class="advertising_2_content d-flex flex-column align-items-center justify-content-center">
                                <div class="advertising_2_link"><a href="#">Turbulent <span>Mind</span></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

@section Addscripts{
    <script src="~/avision/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/avision/js/post.js"></script>
}
@section scripts{

}
